<div class="container">
  <%= image_tag @league.logo %>
  <h1><%= @league.name %></h1>
  <p><%= @league.city %>, <%= @league.country %></p>
  <h2>Teams : </h2>
  <% @league.teams.each do |team| %>
    <p><%= team.name %> - Ranking (last update <%= team.ranking_date.strftime('%a %d %b %Y') %>): <%= team.ranking %></p>
  <% end %>
</div>
